/* Page Settings */

#container{
    padding-top: 81px
}
#card{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    width: 90%;
    max-width: 800px;
    border-radius: 30px;
    margin: 90px auto 130px;
    padding: 0 20px;

    background-color: var(--about-card-bg);
    transition: background-color .2s ease;
}

/*  Card Image */ 

#card #image{
    position: absolute;
    top: -65px;
    left: -65px;

    width: 80%;
    max-width: 200px;
    border-radius: 50%;
    border: 8px solid var(--about-card-bg);

    overflow: hidden;
    -webkit-mask-image:-webkit-radial-gradient(white, black);
    transition: border .3s ease;
}
#card:hover #image{
    border: 8px solid rgb(94, 76, 199)
}
#card #image img{
    display: block;
    width: 100%;
    user-select: none;
    -webkit-user-select: none;
    transition: transform .3s ease;
}
#card:hover #image img{
    transform: scale(1.05);
}

/* Description */

#desc{
    margin: 50px auto;
}
#desc h1{
    font-family: 'Outfit', sans-serif;
    font-size: 2.2rem;
    font-weight: 800;
    color: rgb(94, 76, 199);
}
#desc #about{
    margin: 20px auto 30px;
    line-height: 1.2;
}
#desc #about p{
    font-family: 'Outfit', sans-serif;
    font-size: .95rem;
    font-weight: 200;
    color: var(--about-card-text);
    transition: color .2s ease;
}
#desc #location{
    font-family: 'Outfit', sans-serif;
    font-weight: 800;
    color:rgb(94, 76, 199);
    font-size: 1.2rem;
}
#desc #location i{
    font-size: 1.5rem;
    margin-bottom: 6px;
}

/* Hover Message */
#randomphrases{
    position: absolute;
    z-index: -1;
    top: 80%;
    padding: 2px 0;
    width: 90%;
    max-width: 600px;


    background-color: rgb(94, 76, 199);
    border-radius: 20px;
    box-shadow: 0 14px 30px rgba(0, 0, 0, 0.082);
    
    opacity: 0;
    pointer-events: none;
    user-select: none;
    -webkit-user-select: none;
    
    transition: .3s ease;
}
#random-container{
    width: 80%;
    margin: 0 auto;
    word-wrap: break-word;
    color: white;
    padding: 8px 0;
    font-family: 'Outfit', sans-serif;
    font-size: .95rem;
    font-weight: 300;
}
#randomphrases::before{
    content: '';
    position: inherit;
    top: -30px;
    left: 20px;
    display: block;
    background-color: rgb(94, 76, 199);
    width: 2px;
    height: 30px;
}
#randomphrases::after{
    content: '';
    position: inherit;
    top: -30px;
    right: 20px;
    display: block;
    background-color: rgb(94, 76, 199);
    width: 2px;
    height: 30px;
}
#card:hover #randomphrases{
    top: calc(100% + 20px);
    opacity: 1;
}


/* Media Queries */

@media(max-width: 850px){
    #card #image{
        max-width: 170px;
        left: 50%;
        transform: translateX(-50%);
    }
    #card:hover #image{
        border: 7px solid rgb(94, 76, 199);
    }
    #card h1{
        margin-top: 80px;
        font-size: 2rem;
    }
    #desc #location{
        font-size: 1rem;
    }
}
@media(max-width: 750px){
    #container{
        padding: 0;
    }
    #card{
        margin: 120px auto 140px;  
    }
}
@media(max-width: 405px){
    #card #image{
        max-width: 150px;
    }
    #card h1{
        margin-top: 50px;
    }
    #card{
        margin: 80px auto 120px;
    }
}
@media(max-width: 250px){

    #card h1{
        margin-top: 40px;
    }
}