/* Page Settings */

#container{
    padding-top: 81px;
}
#landing{
    padding:  120px 0;
    display: block;
    text-align: center;
    margin: 0 auto;
    width: 90%;
}

/* Texts */

#landing h1{
    font-weight: 800;
    color: var(--landing-title);
    font-size: calc(1.860rem + 1.5vw);
    line-height: 1.35;
}
#landing p{
    font-size: 1.2rem;
    color: var(--landing-text);
}
#landing a{
    display: inline-block;
    padding: 10px 16px;
    border-radius: 8px;

    border: 3px solid rgb(94, 76, 199);
    background-color: rgb(94, 76, 199);

    user-select: none;
    -webkit-user-select: none;

    color: var(--landing-btn-color);
    font-size: 1rem;
    font-weight: 500;
    transition: background-color .2s, color .2s;
}
#landing a:hover{
    background-color: var(--lists-i-h-bg);
    color: rgb(94, 76, 199);
}

/* Icons */

#landing ul{
    display: flex;
    width: 90%;
    gap: 50px;
    
    justify-content: center;
    text-align: center;

    user-select: none;
    -webkit-user-select: none;
    margin: 40px auto;
}
#landing ul li i{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 54px;
    width: 54px;
    border-radius: 21px;
    font-size: 1.35rem;
    margin: 0 auto;

    user-select: none;
    -webkit-user-select: none;
    cursor: pointer;
    cursor: -webkit-pointer;
    
    color: var(--lists-i-color);
    background-color: var(--lists-i-bg);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.123);
    transition: color .4s ease, background-color .2s ease, transform .2s;
}
#landing ul li i:active{
    transform: scale(.9)
}
#landing ul li:hover i{
    color: var(--lists-h-i-color);
    background-color: rgb(94, 76, 199);
}
#landing ul li p{
    margin-top: 12px;
    text-align: center;
    color: var(--lists-texts);
    font-size: .8rem;
}
#landing ul li p::after{
    content: '';
    display: block;
    width: 0;
    height: 2px;
    margin: 10px auto 0;
    background-color: rgb(94, 76, 199);
    transition: .3s ease;
}
#landing ul li:hover p::after{
    width: 50%;
}

/* Media Queries */

@media(max-width: 750px){
    #container{
        padding: 0;
    }
    #landing{
        padding: 120px 0 100px;
    }
}
@media(max-width: 375px){
    #landing{
        padding: 80px 0 60px;
    }
    #landing ul{
        gap: 30px;
    }
}
@media(max-width: 305px) {
    #landing ul{
        gap: 10px;
    }
}