/* Page Settings */

#container{
    padding-top: 81px;
}
#projects{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    
    gap: 30px;
    padding: 80px 20px;
    margin: 0 auto;
}

/* Flex Components and Images */

.project{
    width: 350px;
    border-radius: 16px;

    background-color: var(--project-bg);
    border: 1px solid var(--project-border);
    
    overflow: hidden;

    -webkit-mask-image: -webkit-radial-gradient(white, black); /* temporário */

    transition: box-shadow .5s, background-color .3s ease, border .2s;
}
.image-container{
    position: relative;
    display: block;
    width: 100%;
    overflow: hidden;
}
.image-container img{
    display: block;
    width: 100%;
    user-select: none;
    -webkit-user-select: none;
    transition: transform .3s ease;
}
.project:hover .image-container img{
    transform: scale(1.050);
}

/* Description */

.desc{
    width: 90%;
    padding: 20px 0;
    margin: 0 auto;
    line-height: 1.28;
}
.desc h3{
    color: var(--project-title);
    font-size: .9rem;
    font-weight: 800;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: 'Outfit', sans-serif;
}
.desc p{
    color: var(--project-text);
    font-size: .8rem;
    letter-spacing: .25px;
    font-weight: 200;
    margin: 5px auto 15px;
}

/* Description Buttons */

.links{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}
.links a{
    user-select: none;
    -webkit-user-select: none;

    padding: 5px 10px;
    border-radius: 7px;
    font-size: .9em;
    font-weight: 500;
    
    color: rgb(94, 76, 199);
    border: 2px solid rgb(94, 76, 199);
}
.links a:nth-child(2){
    transition: background-color .3s ease, color .3s ease;
}
.links a:nth-child(1), .links a:nth-child(2):hover{
    background-color: rgb(94, 76, 199);
    color:white
}

/* Technologies */

.technologies{
    position: absolute;
    left: 14px;
    bottom: 10px;
    user-select: none;
    
    display: flex;
    flex-wrap: wrap;
    gap: 6px;

    visibility: hidden;
    opacity: 0;
    transition: .3s ease;
}
.technologies .tech-item{
    background-color: rgb(94, 76, 199);
    padding: 4px 8px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.178);
    border-radius: 8px;
    opacity: 0;
    transform: translateY(10px);
    transition: .2s ease-in-out;
}
.technologies .tech-item span{
    font-family: 'Outfit', sans-serif;
    color: white;
    font-size: .80rem;
}
.project:hover .technologies{
    visibility: visible;
    opacity: 1;
}
.project:hover .technologies .tech-item{
    opacity: 1;
    transform: translateY(-5px);
}
.project:hover .technologies .tech-item:nth-of-type(2){
    transition-delay: .03s;
}
.project:hover .technologies .tech-item:nth-of-type(3){
    transition-delay: .09s;
}
.project:hover .technologies .tech-item:nth-of-type(4){
    transition-delay: .12s;
}

/* Media Queries */

@media(max-width: 750px){
    #container{
        padding: 0;
    }
    #projects{
        padding: 50px 0;
        width: 90%;
    }
}