/* Montserrat and Outfit */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* General settings */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    list-style: none;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
}
*::selection{
    background-color: rgba(94, 122, 245, 0.192);
}
html,body{
    height: 100%;
}
html{
    font: 16px 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-thumb{
    background-color: rgb(94, 76, 199);
    border-radius: 10px;
    border: 3.5px solid var(--scroll-bg);
}

/* Colors - dark and light mode */

body{
    overflow-x: hidden;
    background-color: var(--body-bg);
    --body-bg: rgb(246, 246, 246);
    --scroll-bg: rgb(246, 246, 246);
    --header-border: rgb(226, 226, 226);
    --nav-link: rgb(69, 69, 69);
    --nav-logo: rgb(95, 77, 199);
    --nav-bg: rgb(246, 246, 246);
    --toggler-icon: rgb(34, 34, 34);
    --burger-icon: rgb(23, 23, 23);
    --m-nav-bg: rgb(244, 244, 244);

    --landing-title: rgb(65, 40, 202);
    --landing-text: rgb(1, 1, 1);
    --landing-btn-color: rgb(255,255,255);
    --landing-h-btn-bg: rgb(255,255,255);

    --lists-texts: rgb(26, 26, 26);
    --lists-i-color: rgb(94, 76, 199);
    --lists-h-i-color: rgb(255,255,255);
    --lists-i-bg: rgb(250, 250, 250);

    --about-card-bg: rgb(233, 233, 233);
    --about-card-text: rgb(0,0,0);

    --project-title: rgb(0,0,0);
    --project-text:rgb(0,0,0);
    --project-border: rgb(235, 235, 235);
    --project-bg: rgb(255, 255, 255);

    --footer-bg: rgb(231, 231, 231);
    --email-bg: rgb(238, 238, 238);
    --email-title: rgb(0,0,0);
    --email-link: rgb(0,0,0);

    --repositories-bg: rgb(226, 226, 226);
    --repositories-text: rgb(0,0,0);
    --r-btn-bg: transparent;
    --r-btn-color: rgb(94, 76, 199);

    --social-title: rgb(0,0,0);
    --info-border: rgb(214, 214, 214);
    --info-text: rgb(16, 16, 16);
    --info-text: rgb(14, 14, 14);
    --email-bg-mobile: rgb(231, 231, 231);
}
.dark{
    background-color: var(--body-bg);
    --body-bg: rgb(17, 17, 17);
    --scroll-bg: rgb(18, 18, 18);
    --header-border: rgb(41, 38, 38);
    --nav-link: rgb(188, 188, 188);
    --nav-logo: rgb(195, 195, 195);
    --nav-bg: rgb(17, 17, 17);
    --toggler-icon: rgb(222, 222, 222);
    --burger-icon: rgb(230, 230, 230);
    --m-nav-bg: rgb(17, 17, 17);

    --landing-title: rgb(94, 76, 199);
    --landing-text: rgb(182, 182, 182);
    --landing-btn-color: rgb(255,255,255);
    --landing-h-btn-bg: rgb(255,255,255);

    --lists-texts: rgb(182, 182, 182);
    --lists-i-color: rgb(94, 76, 199);
    --lists-h-i-color: rgb(255,255,255);
    --lists-i-bg: rgb(23, 23, 23);

    --about-card-bg: rgb(22, 22, 22);
    --about-card-text: rgb(183, 183, 183);

    --project-title: rgb(234, 234, 234);
    --project-text:rgb(234, 234, 234);
    --project-border: rgb(17, 17, 17);
    --project-bg: rgb(24, 24, 24);

    --footer-bg: rgb(27, 27, 27);
    --email-bg: rgb(27, 27, 27);
    --email-title: rgb(204, 204, 204);
    --email-link: rgb(177, 177, 177);
    --email-bg-mobile: rgb(25, 25, 25);
    
    --repositories-bg: rgb(24, 24, 24);
    --repositories-text: rgb(221, 221, 221);
    --r-btn-bg: transparent;
    --r-btn-color: rgb(94, 76, 199);
    
    --social-title: rgb(216, 216, 216);
    --info-border: rgb(38, 38, 38);
    --info-text: rgb(178, 178, 178);
    --info-link: rgb(178, 178, 178);
}
nav,body,header, footer{
    transition: background .2s ease,
    border .2s ease;
}

/* Header */
header{
    position: fixed;
    z-index: 1000;
    width: 100%;

    background-color: var(--nav-bg);
    border-bottom: 1px solid var(--header-border);
    
    -webkit-user-select: none;
    user-select: none;
}

/* Navbar */
header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 90%;
    max-width: 1200px;
    height: 80px;
    margin: 0 auto;
}

/* Logo */
header nav a#logo{
    font-weight: 800;
    font-size: 2rem;
    color: var(--nav-logo);
    transition: color .2s ease;
}

/* Links */
header nav > ul{
    display: flex;
    gap: 20px;
}
header nav > ul li a{
    position: relative;

    font-family: 'Outfit', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    
    color: var(--nav-link);
    transition: color .3s ease;
}
header nav > ul li a#active{
    color: rgb(94, 76, 199);
}

/* Buttons */
header nav #nav-btn{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}
header nav #nav-btn > a{
    display: inline;
    border-radius: 6px;
    border: 3px solid rgb(94, 76, 199);
    padding: 6.5px 9.5px;
    
    font-weight: 700;
    color: rgb(94, 76, 199);
    transition: color .2s, background-color .2s;
}
header nav #nav-btn > a:hover{
    background-color: rgb(94, 76, 199);
    color: var(--landing-h-btn-bg);
}
header nav #nav-btn i{
    display: block;
    font-size: 1.5rem;
    color: var(--toggler-icon);
    cursor: pointer;
    transition: transform .2s ease;
}
header nav #nav-btn i:active, .burger:active{
    transform: scale(0.8);
}
header nav #nav-btn .burger{
    display: none;
}

/* Container and default animation */

#container{
    margin: 0 auto;
    width: 90%;
    max-width: 1200px;
}
section {
    animation: fade-up .5s;
}
@keyframes fade-up {
    from{
        opacity: 0;
        transform: translateY(20px)
    }
    to{
        opacity: 1;
        transform: translateY(0)
    }
}

/* Footer */
footer{
    display: block;
    width: 100%;
    line-height: 1;
    background-color: var(--footer-bg);
}

/* Contact */
#contact{
    display: flex;
    align-items: center;
    background-color: var(--repositories-bg);
    flex-wrap: wrap;
    border-radius: 12px;
    overflow: hidden;
    text-align: center;
    width: 100%;
    margin: 30px auto;
}
#email,#repositories{
    padding: 0 20px;
}

/* Contact - Email */
#email{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    gap: 8px;
    height: 120px;
    background: var(--email-bg);
    transition: background .2s ease;
}
#email h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.4em;
    font-weight: 800;
    color: var(--email-title);
    transition: color .2s ease;
}
#email a{
    display: inline;
    font-size: .9em;
    color: var(--email-link);
    transition: color .2s ease;
}
#email a::after{
    content: '';
    display: block;
    margin: 7px auto 0;
    height: 2px;
    width: 0;
    background-color:rgb(94, 76, 199);
    transition: width .3s ease;
}
#email a:hover::after{
    width: 100%;
}

/* Contact - Repositories */
#repositories{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    flex-grow: 1;
    gap: 10px;
    height: 120px;
    
    background-color: var(--repositories-bg);
    transition: background-color .2s ease;
}
#repositories p{
    width: 90%;
    margin: 0 auto;
    
    font-weight: 400;
    letter-spacing: 1px;
    font-size: .75em;
    
    text-transform: uppercase;
    color: var(--repositories-text);
    
    transition: color .2s ease
}
#repositories a{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    width: 60px;
    height: 30px;
    border-radius: 5px;
    
    font-size: .8em;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: white;
    
    background-color: rgb(94, 76, 199);
    -webkit-user-select: none;
    user-select: none;
    transition: color .3s, background-color .3s;
}
#repositories i{
    -webkit-transform: translateY(.75px);
    -moz-transform: translateY(.75px);
    transform: translateY(.75px);
    transition: transform .3s ease;
}
#repositories a:hover i{
    transform: translate(4px, 1px)
}

/* Social Network */

#social{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding: 50px 10px;
}
#social h3{
    font-size: .82em;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 20px;
    color: var(--social-title);
    transition: color .2s ease;
}
#social ul{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin: 0 auto;
    justify-content: center;
}
#social ul i{
    position: relative;
    font-size: 20px;
    color: white;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.074);
    padding: 12px;
    border-radius: 12px;
    background-color: rgb(94, 76, 199);
    transition: background-color .4s;
}
#social ul i:hover{
    background-color: rgb(77, 61, 170)
}
#social ul i::after{
    content: attr(data-name);
    display: block;
    opacity: 0;
    visibility: hidden;
    font: 500 .6em 'Outfit', sans-serif;
    padding: 6px 8px;
    background-color: rgb(44, 44, 44);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.123);
    border-radius: 7px;
    top: 55px;
    color: white;
    position: absolute;
    pointer-events: none;
    left: 50%;
    transform: translateX(-50%) translateY(-5px);
    transition: .3s ease;
}
#social ul i:hover::after{
    opacity: 1;
    visibility: visible;
    transform: translateX(-50%) translateY(0)
}

/* Footer Text */

#info{
    border-top: 1px solid var(--info-border);
    padding: 40px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    color: var(--info-text);
    text-align: center;
    transition: border-top .2s ease;
}
#info h3{
    font-family: 'Outfit', sans-serif;
    font-size: .95rem;
    font-weight: 300;
    transition: color .2s ease;
}
#info p{
    font-size: .8rem;
    transition: color .2s ease;
}
#info a{
    font-weight: 600;
    color: var(--info-link);
    transition: color .2s ease;
}
#info span{
    font-weight: 800;
    font-size: 1.05em;
}

/* Active Menu Background */
#back{
    visibility: hidden;
    opacity: 0;
}

/* Media Queries */

@media(min-width: 751px){
    nav > ul a::after{
        content: '';
        display: block;
        
        position: absolute;
        bottom: -8px;
        left: 50%;
        transform: translateX(-50%);
        
        height: 2px;
        background-color:rgb(94, 76, 199) ;
        width: 0;

        transition: width .4s ease;
    }
    nav > ul a:hover::after{
        width: 100%;
    }
}
@media(max-width: 750px){
    header{
        bottom: 0;
        border-bottom: none;
        border-top: 1px solid var(--header-border);
    }
    header nav #nav-btn .burger{
        display: inline;
        cursor: pointer;
        color: var(--burger-icon);
        font-size: 1.5rem;
        transition: color .2s ease, transform .2s ease;
    }
    header nav > ul li a{
        display: flex;
        justify-content: center;
        padding: 12px 15px;
        font-size: .9em;
    }
    header nav > ul li a:hover{
        color: rgb(94, 76, 199);
    }
    header nav > ul li:not(:last-of-type){
        border-bottom: 1px solid var(--header-border);
        transition: border .2s ease;
    }
    header nav > ul{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        gap: 0;
        
        position: fixed;
        bottom: 80px;
        left: 0;
        z-index: 1000;

        width: 100%;
        height: 0;
        padding: 0 20px;
        
        border-bottom: 1px solid var(--header-border);
        border-radius: 25px 25px 0 0;
        background-color: var(--m-nav-bg);
        
        visibility: hidden;
        overflow-y: hidden;
        transition: .4s ease;
    }
    header nav.active > ul{
        height: 135px;
        visibility: visible;
    }
    #container{
        padding: 0;
    }
    footer{
        padding-bottom: 80px;
    }
    #back{
        position: fixed;
        display: block;
        height: 100vh;
        min-height: -webkit-fill-available;
        width: 100%;
        top: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.37);
        backdrop-filter: blur(20px) saturate(1);
        transition: opacity .4s, visibility .4s;
    }
    #back.active{
        visibility: visible;
        opacity: 1;
    }
}   
@media(max-width: 550px){
    header nav #nav-btn > a{
        display: none;
    }
}
@media(max-width: 300px){
    header nav a#logo{
        display: none;
    }
    header nav{
        justify-content: center;
    }
    header nav #nav-btn{
        width: 100%;
        justify-content: space-between;
    }
    #email{
        padding: 0 20px;
        font-size: 87%;
    }
}
@media(max-width: 250px){
    #social ul i::after{
        display: none;
    }
}