/* Montserrat and Outfit */
@import './theme.scss';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* General settings */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    list-style: none;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
}
*::selection{
    background-color: rgba(94, 122, 245, 0.192);
}
html,body{
    height: 100%;
}
body{
    overflow-x: hidden;
    background-color: $body-bg;
}
html{
    font: 16px 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-thumb{
    background-color: rgb(94, 76, 199);
    border-radius: 10px;
    border: 3.5px solid $scroll-bg;
}
nav, body, header, footer{
    transition: background-color .2s ease,
    border .2s ease;
}