html {
    --body-bg: rgb(246, 246, 246);
    --scroll-bg: rgb(246, 246, 246);
    --header-border: rgb(217, 217, 217);
    --nav-link: rgb(69, 69, 69);
    --nav-logo: rgb(95, 77, 199);
    --nav-bg: rgb(246, 246, 246);
    --toggler-icon: rgb(34, 34, 34);
    --burger-icon: rgb(23, 23, 23);
    --m-nav-bg: rgb(244, 244, 244);
    --landing-title: rgb(65, 40, 202);
    --landing-text: rgb(1, 1, 1);
    --landing-btn-color: rgb(255,255,255);
    --landing-h-btn-bg: rgb(255,255,255);
    --lists-texts: rgb(26, 26, 26);
    --lists-i-color: rgb(94, 76, 199);
    --lists-h-i-color: rgb(255,255,255);
    --lists-i-bg: rgb(250, 250, 250);
    --about-card-bg: rgb(233, 233, 233);
    --about-card-text: rgb(0,0,0);
    --project-title: rgb(0,0,0);
    --project-text: rgb(0,0,0);
    --project-border: rgb(235, 235, 235);
    --project-bg: rgb(255, 255, 255);
    --footer-bg: rgb(231, 231, 231);
    --email-bg: rgb(238, 238, 238);
    --email-title: rgb(0,0,0);
    --email-link: rgb(0,0,0);
    --repositories-bg: rgb(226, 226, 226);
    --repositories-text: rgb(0,0,0);
    --r-btn-bg: transparent;
    --r-btn-color: rgb(94, 76, 199);
    --social-title: rgb(0,0,0);
    --info-border: rgb(214, 214, 214);
    --info-text: rgb(16, 16, 16);
    --info-link: rgb(14, 14, 14);
    --email-bg-mobile: rgb(231, 231, 231);

    &[theme=dark]{
        --body-bg: rgb(14, 14, 14);
        --scroll-bg: rgb(14, 14, 14);
        --header-border: rgb(25, 25, 25);
        --nav-link: rgb(216, 216, 216);
        --nav-logo: rgb(230, 230, 230);
        --nav-bg: rgb(14, 14, 14);
        --toggler-icon: rgb(222, 222, 222);
        --burger-icon: rgb(230, 230, 230);
        --m-nav-bg: rgb(14, 14, 14);
        --landing-title: rgb(94, 76, 199);
        --landing-text: rgb(182, 182, 182);
        --landing-btn-color: rgb(255,255,255);
        --landing-h-btn-bg: rgb(255,255,255);
        --lists-texts: rgb(141, 141, 141);
        --lists-i-color: rgb(94, 76, 199);
        --lists-h-i-color: rgb(255,255,255);
        --lists-i-bg: rgb(23, 23, 23);
        --about-card-bg: rgb(22, 22, 22);
        --about-card-text: rgb(183, 183, 183);
        --project-title: rgb(234, 234, 234);
        --project-text:rgb(190, 190, 190);
        --project-border: rgb(22, 22, 22);
        --project-bg: rgb(19, 19, 19);
        --footer-bg: rgb(27, 27, 27);
        --email-bg: rgb(27, 27, 27);
        --email-title: rgb(204, 204, 204);
        --email-link: rgb(177, 177, 177);
        --email-bg-mobile: rgb(25, 25, 25);
        --repositories-bg: rgb(24, 24, 24);
        --repositories-text: rgb(221, 221, 221);
        --r-btn-bg: transparent;
        --r-btn-color: rgb(94, 76, 199);
        --social-title: rgb(216, 216, 216);
        --info-border: rgb(38, 38, 38);
        --info-text: rgb(178, 178, 178);
        --info-link: rgb(178, 178, 178);
    }
}
